* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  padding: 1rem;
}

#input-text {
  border: 1px solid black;
  width: 300px;
  height: 200px;
}

.bold-class {
  font-weight: bold;
}
.italic-class {
  font-style: italic;
}
.underline-class {
  text-decoration: underline;
}

.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-24 {
  font-size: 24px;
}
