@import './interface.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bold-class {
  font-weight: bold;
}
.italic-class {
  font-style: italic;
}
.underline-class {
  text-decoration: underline;
}

.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-36 {
  font-size: 36px;
}
.font-size-48 {
  font-size: 48px;
}

.font-family-Arial {
  font-family: Arial, Helvetica, sans-serif;
}
.font-family-Times {
  font-family: 'Times New Roman', Times, serif;
}
.font-family-Georgia {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
